@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-2mzqr2');
	src:url('fonts/icomoon.eot?#iefix-2mzqr2') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-2mzqr2') format('truetype'),
		url('fonts/icomoon.woff?-2mzqr2') format('woff'),
		url('fonts/icomoon.svg?-2mzqr2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-remove-user:before {
	content: "\e602";
}
.icon-arrow-long-down:before {
	content: "\e601";
}
.icon-arrow-long-left:before {
	content: "\e605";
}
.icon-arrow-long-right:before {
	content: "\e607";
}
.icon-arrow-long-up:before {
	content: "\e608";
}
.icon-save:before {
	content: "\e609";
}
.icon-trash:before {
	content: "\e60b";
}
.icon-add-user:before {
	content: "\e604";
}
.icon-back-in-time:before {
	content: "\e610";
}
.icon-camera:before {
	content: "\e612";
}
.icon-check:before {
	content: "\e617";
}
.icon-circle-with-cross:before {
	content: "\e61a";
}
.icon-circle-with-minus:before {
	content: "\e61c";
}
.icon-circle-with-plus:before {
	content: "\e622";
}
.icon-folder2:before {
	content: "\e627";
}
.icon-home:before {
	content: "\e628";
}
.icon-hour-glass:before {
	content: "\e629";
}
.icon-key:before {
	content: "\e62a";
}
.icon-lock-open:before {
	content: "\e62b";
}
.icon-lock:before {
	content: "\e62c";
}
.icon-old-phone:before {
	content: "\e62d";
}
.icon-pencil:before {
	content: "\e62e";
}
.icon-print:before {
	content: "\e62f";
}
.icon-share:before {
	content: "\e630";
}
.icon-suitcase:before {
	content: "\e631";
}
.icon-facebook:before {
	content: "\e632";
}
.icon-tumblr-with-circle:before {
	content: "\e633";
}
.icon-print2:before {
	content: "\e625";
}
.icon-sign-out:before {
	content: "\e626";
}
.icon-file-pdf:before {
	content: "\e623";
}
.icon-office:before {
	content: "\e606";
}
.icon-users:before {
	content: "\e634";
}
.icon-user-tie:before {
	content: "\e635";
}
.icon-user-check:before {
	content: "\e636";
}
.icon-user-minus:before {
	content: "\e637";
}
.icon-user-plus:before {
	content: "\e638";
}
.icon-user:before {
	content: "\e639";
}
.icon-profile:before {
	content: "\e63a";
}
.icon-user-minus2:before {
	content: "\e63b";
}
.icon-loop2:before {
	content: "\e63c";
}
.icon-user-minus3:before {
	content: "\e63d";
}
.icon-user-plus2:before {
	content: "\e63e";
}
.icon-clock:before {
	content: "\e600";
}
.icon-user2:before {
	content: "\e63f";
}
.icon-user3:before {
	content: "\e640";
}
.icon-file-excel-o:before {
	content: "\e624";
}
.icon-group:before {
	content: "\e603";
}
.icon-user-plus3:before {
	content: "\e641";
}
.icon-calendar2:before {
	content: "\e60e";
}
.icon-notice:before {
	content: "\e613";
}
.icon-cogs:before {
	content: "\e614";
}
.icon-health:before {
	content: "\e60a";
}
.icon-watch:before {
	content: "\e615";
}
.icon-cancel3:before {
	content: "\e619";
}
.icon-folder:before {
	content: "\e60c";
}
.icon-phone:before {
	content: "\e61b";
}
.icon-locked:before {
	content: "\e61d";
}
.icon-unlocked:before {
	content: "\e61e";
}
.icon-magnifier:before {
	content: "\e61f";
}
.icon-moneybag:before {
	content: "\e620";
}
.icon-comments:before {
	content: "\e621";
}
.icon-addressbook:before {
	content: "\e60d";
}
.icon-cabinet:before {
	content: "\e642";
}
.icon-file:before {
	content: "\e643";
}
.icon-file2:before {
	content: "\e644";
}
.icon-camera2:before {
	content: "\e645";
}
.icon-minus:before {
	content: "\e611";
}
.icon-cogs2:before {
	content: "\e616";
}
.icon-wallet:before {
	content: "\e646";
}
.icon-cancel2:before {
	content: "\e618";
}
.icon-trashcan:before {
	content: "\e647";
}
.icon-addressbook2:before {
	content: "\e60f";
}
.icon-addressbook3:before {
	content: "\e648";
}
.icon-loop:before {
	content: "\e00e";
}
.icon-edit:before {
	content: "\e15e";
}
.icon-help:before {
	content: "\e29b";
}
.icon-cancel:before {
	content: "\e205";
}
.icon-sync:before {
	content: "\e22b";
}
.icon-person:before {
	content: "\e253";
}
.icon-camera_enhance:before {
	content: "\e30e";
}
